{% macro render_pagination(pagination, endpoint, inventory_filter_val, os_filter_val) %}
<ul class="pagination">
    {%- for page in pagination.iter_pages() %}
        {% if page %}
            {% if page != pagination.page %}
                <li><a href="{{ url_for(endpoint, page=page,inventory_filter=inventory_filter_val,
                os_filter=os_filter_val) }}">{{ endpoint }}{{ page }}</a></li>
            {% else %}
               <li class="active"><a>{{ pagination.page }}</a></li>
            {% endif %}
        {% else %}
            <li><a href="#">…</a></li>
        {% endif %}
    {%- endfor %}
</ul>
{% endmacro %}