{% extends "layout.html" %}
{% block body %}
<body>
<div class="container theme-showcase">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>inventory</th>
            <th>hostname</th>
            <th>profile_name</th>
            <th>sever_name</th>
            <th>max_memory</th>
            <th>current_memory</th>
        </tr>
        </thead>
        <tbody>
        {% for one_was in was_list %}
        <tr>
            <td>{{ one_was.WebSphere.was_info_id }}</td>
            <td><a href="{{ url_for('detail',inventory=one_was.System.inventory) }}">
                {{ one_was.System.inventory }}</a></td>
            <td>{{ one_was.System.hostname }}</td>
            <td>{{ one_was.WebSphere.prf_name }}</td>
            <td>{{ one_was.WebSphere.srv_name }}</td>
            <td>{{ one_was.WebSphere.max_mem }}</td>
            <td>{{ one_was.WebSphere.curr_mem }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <!--导入分页方法，由于不需进行过滤，三四参数为空-->
    {% import '_macro.html' as macros %}
    {{ macros.render_pagination(pagination, 'get_all_websphere', None, None) }}
</div>

</body>
{% endblock %}
