{% extends "layout.html" %}
{% block body %}
<div class="container theme-showcase">
<form class="form-inline" action="{{ url_for('get_filter_system') }}" method=post>
    <div class="form-group">
    <label>inventory</label>
    <input type="text" class="form-control" id="inventory_filter_id" placeholder="inven_filter"
           name="inventory_filter" value={{ inventory_filter_val }} >
    <!--<input type="text" class="form-control" id="os_filter_id" placeholder="os_filter"-->
           <!--name="os_filter" value={{ os_filter_val }} >-->
	<div class="form-group">
		<label>os_filter</label>
		<select class="form-control" name="os_filter">
                <option>all</option>
            {% for os in os_list_val %}
            {% if os == os_filter_val %}
                <option selected="True" value="{{ os }}">{{ os }}</option>
            {% else %}
                <option value="{{ os }}">{{ os }}</option>
            {% endif %}
            {% endfor %}
		</select>
	</div>
    </div>
    <button type="submit" class="btn btn-default">filter</button>
  </form>
    <table class="table">
        <thead>
        <tr>
            <th>inventory</th>
            <th>hostname</th>
            <th>os_info</th>
            <th>platform</th>
            <th>cpu</th>
            <th>component</th>
            <th>swap</th>
            <th>all_ip_list</th>
        </tr>
        </thead>
        <tbody>
        {% for x in system_list %}
        <tr>
            <td><a href="{{ url_for('detail',inventory=x.inventory) }}">{{ x.inventory }}</a></td>
            <td>{{ x.hostname }}</td>
            <td>{{ x.os_info }}</td>
            <td>{{ x.platform }}</td>
            <td>{{ x.cpu_num }}</td>
            <td>
                <a tabindex="0" role="button" title="WAS信息" data-toggle="popover"
                     data-placement="right" class="inventory_for_was" data-trigger="focus"
                     data-content="" data-delay=200 value="{{ x.inventory }}">
                    {% if sys_was_count_list[loop.index0] > 0 %}
                    {{ sys_was_count_list[loop.index0] }} was
                    {% endif %}
                </a>
                <a tabindex="0" role="button" title="DB2信息" data-toggle="popover"
                     data-placement="right" class="inventory_for_db2" data-trigger="focus"
                     data-content="" data-delay=200 value="{{ x.inventory }}">
                <!--<div class="inventory_for_db2" value="{{ x.inventory }}">-->
                    {% if sys_db2_count_list[loop.index0] > 0 %}
                    {{ sys_db2_count_list[loop.index0] }} db2
                    {% endif %}
                </a>
            </td>
            <td>{{ x[6] }}</td>
            <td>{{ x[7] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% import '_macro.html' as macros %}
    {% if pagination and inventory_filter_val == "" %}
    {{ macros.render_pagination(pagination,'get_all_system',inventory_filter_val, os_filter_val) }}
        {% elif  inventory_filter_val is not none%}
        {{ macros.render_pagination(pagination,'get_filter_system',inventory_filter_val, os_filter_val) }}
    {% endif %}
</div>
</body>
<script type=text/javascript>
 $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(function() {
    $('.inventory_for_was').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_get_was', {
        invent_val: $(this).attr("value"),
      }, function(data) {
        pop_inventory = ''
        one_result = '<table class="table"><thead><tr><th>profile_name</th><th>server_name</th></tr></thead>'
        $.each(data.result, function(i, item){
            pop_inventory = item.sys_inventory
            one_result = one_result +  "<tr><td>" + item.prf_name + "</td>" + "<td>" + item.srv_name + "</td></tr>"
            console.log(item.prf_name);
            console.log(item.srv_name);
            console.log(item.sys_inventory);
         });
         $("[value='"+pop_inventory+"']").attr("data-content",one_result + "</table>")
         console.log($("[value='"+pop_inventory+"']").attr("data-content"))
      });
      return false;
    }).popover({html : true });
  });
  $(function() {
    $('.inventory_for_db2').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_get_db2', {
        invent_val: $(this).attr("value"),
      }, function(data) {
      pop_inventory = ''
        one_result = '<table class="table"><thead><tr><th>instance_name</th><th>database_name</th></tr></thead>'
      $.each(data.result, function(i, item){
      pop_inventory = item.sys_inventory
            one_result = one_result +  "<tr><td>" + item.inst_name + "</td>" + "<td>" + item.db_name + "</td></tr>"
            console.log(item.inst_name);
            console.log(item.db_name);
            console.log(item.sys_inventory);
      });
      $("[value='"+pop_inventory+"']").attr("data-content",one_result + "</table>")
         console.log($("[value='"+pop_inventory+"']").attr("data-content"))
      });
      return false;
    }).popover({html : true });
  });
</script>
{% endblock %}