{% extends "layout.html" %}
{% block body %}
<div class="container theme-showcase">
    <table class="table table-striped table-bordered">
        <thead class="text-primary">
        <tr>
            <td>hostname</td>
            <td>inventory</td>
            <td>memory(MB)</td>
            <td>action</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ system_detail_in.hostname }}</td>
            <td>{{ system_detail_in.inventory }}</td>
            <td>{{ system_detail_in.memory }}MB</td>
            <td>
                <button type="button" classify="sys_collect" data-loading-text="Processing..."
                    class="btn btn-primary" autocomplete="off" sys_inven="{{ system_detail_in.inventory }}">
                  collect
                    </button>
                </td>
        </tr>
        </tbody>
    </table>
    <br/>
    {% if was_detail_in %}

    <div class="panel panel-default">
        <div class="panel-heading"><b>WebSphere Info</b></div>
        <table class="table table-striped table-bordered">
            <thead class="text-primary">
            <tr>
                <td><b>#</b></td>
                <td>profile name</td>
                <td>server name</td>
                <td>max memory(MB)</td>
                <td>current memory(MB)</td>
                <td>memory percent(%)</td>
                <td>action</td>
            </tr>
            </thead>
            <tbody>

            {% for one_was in was_detail_in %}
            {% set mem_per = ( one_was.curr_mem / one_was.max_mem * 100) | round(2,'common') %}
            {% if mem_per > 90 %}
            <tr class="text-danger">
                {% else %}
            <tr>
                {% endif %}
                <td>{{ one_was.was_info_id }}</td>
                <td>{{ one_was.prf_name }}</td>
                <td>{{ one_was.srv_name }}</td>
                <td>{{ one_was.max_mem }}</td>
                <td>{{ one_was.curr_mem }}</td>
                <td>{{ mem_per }}</td>
                <td>
                    <button type="button" classify="was_collect" data-loading-text="Processing..."
                            class="btn btn-primary" autocomplete="off" was_inven="{{ system_detail_in.inventory }}"
                            prf_name="{{ one_was.prf_name }}" srv_name="{{ one_was.srv_name }}">collect
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if db2_detail_in %}
    <div class="panel panel-default">
        <div class="panel-heading"><b>DB2 Info</b></div>
        <table class="table table-striped table-bordered">
            <thead class="text-primary">
            <tr>
                <td><b>#</b></td>
                <td>instance name</td>
                <td>database name</td>
                <td>listen port</td>
                <td>action</td>
            </tr>
            </thead>
            <tbody>
            {% for one_db2 in db2_detail_in %}
		{% for one_db_name in one_db2.db_name.split(',') %}
            <tr>
                <td>{{ one_db2.db2_info_id }}</td>
                <td>{{ one_db2.inst_name }}</td>
                <td>{{ one_db_name }}</td>
                <td>{{ one_db2.listen_port }}</td>
                <td>
                    <button type="button" classify="db2_collect" data-loading-text="Processing..."
                            class="btn btn-primary" autocomplete="off" db_inven="{{ system_detail_in.inventory }}"
                            db_name="{{ one_db_name }}" inst_name="{{ one_db2.inst_name }}">collect
                    </button>
                </td>
            </tr>
		{% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
<script type=text/javascript>
 $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  $(function() {

    <!--jquery function to collect db2 info-->
    $("[classify='db2_collect']").bind('click', function() {
        var $btn = $(this).button('loading')
      $.getJSON($SCRIPT_ROOT + '/_collect_db2', {
        db_inven: $(this).attr("db_inven"),
        db_name: $(this).attr("db_name"),
        inst_name: $(this).attr("inst_name")
      }, function(data) {
        <!--$.each(data.result, function(i, item){-->
         <!--});-->
         $btn.button('reset')
         console.log("return do")
         console.log(data.result)
         alert(data.result)
      });
      return false;
    });

    <!--jquery function to collect was info-->
    $("[classify='was_collect']").bind('click', function() {
        var $btn = $(this).button('loading')
      $.getJSON($SCRIPT_ROOT + '/_collect_was', {
        was_inven: $(this).attr("was_inven"),
        prf_name: $(this).attr("prf_name"),
        srv_name: $(this).attr("srv_name")
      }, function(data) {
        <!--$.each(data.result, function(i, item){-->

         <!--});-->
         $btn.button('reset')
         console.log("was collect return do")
         console.log(data.result)
         alert(data.result)
      });
      return false;
    });

    <!--jquery function to collect system info-->
    $("[classify='sys_collect']").bind('click', function() {
        var $btn = $(this).button('loading')
      $.getJSON($SCRIPT_ROOT + '/_collect_sys', {
        sys_inven: $(this).attr("sys_inven"),
      }, function(data) {
        <!--$.each(data.result, function(i, item){-->
         <!--});-->
         $btn.button('reset')
         console.log("sys collect return do")
         console.log(data.result)
         alert(data.result)
      });
      return false;
    });
  });



</script>
{% endblock %}
